torch
torchvision
torchaudio
pandas
numpy
rdkit-pypi
scikit-learn
matplotlib
seaborn
openpyxl
deepchem
pytorch-lightning
wandb
ogb
xgboost
torch-geometric
torch-scatter
torch-sparse
pyg_lib
tqdm
chemprop
